.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* position: relative; */
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.btn-proceed{
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    border-radius: 4px;
    color: white;
    background-color: rgb(234, 128, 15);
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.proceed-link{
    
    text-decoration: none;
}